<tr>
  <td><%= trainees.name %></td>
  <td><%= l trainees.created_at %></td>
  <td>
    <div class="badge badge-pill badge-success">
      <%= enum_i18n(User, :gender, trainees.gender) %>
    </div>
  </td>
</tr>
