<% provide(:title, t("courses.supervisor.edit.title")) %>
<section class="courses_area p_120">
  <div class="container">
    <h3 class="mb-30 title_color"><%= t "courses.supervisor.edit.title" %></h3>
     <%= render "form" %>
  </div>
</section>
