<% provide(:title, t("courses.supervisor.new.heading")) %>
<section class="courses_area p_120">
  <div class="container">
    <h3 class="mb-30 title_color"><%= t "courses.supervisor.new.heading" %></h3>
      <%= render "form" %>
  </div>
</section>
