<% if object.errors.any? %>
<div id="error_explanation">
  <div class="alert alert-danger">
    <%= t("static_pages.errors", count: object.errors.size) %>
  </div>
  <ul class="alert alert-danger">
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
