<li class="list-group-item"><%= trainee.name %>
  <div class="pull-right action-buttons">
    <i class="fa fa-pencil" aria-hidden="true"></i>
    <i class="fa fa-trash" id="delete_trainee" trainee_id="<%= trainee.id %>"></i>
  </div>
</li>
